
/*!
 * Fruta Petit
 *
 * Generator - http://pizzariabronx.com.br/
 * Created by @markoz_souza
 */

@font-face {
    font-family: 'ClanPro-Medium';
    src: url('../fonts/ClanPro-Medium.eot');
    src: url('../fonts/ClanPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClanPro-Medium.woff') format('woff'),
         url('../fonts/ClanPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
	} 
 
@font-face {
    font-family: 'ClanPro-MediumItalic';
    src: url('../fonts/ClanPro-MediumItalic.eot');
    src: url('../fonts/ClanPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClanPro-MediumItalic.woff') format('woff'),
         url('../fonts/ClanPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
	}

@font-face {
    font-family: 'ClanPro-Bold';
    src: url('../fonts/ClanPro-Bold.eot');
    src: url('../fonts/ClanPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClanPro-Bold.woff') format('woff'),
         url('../fonts/ClanPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
	}

@font-face {
    font-family: 'ClanPro-BoldItalic';
    src: url('../fonts/ClanPro-BoldItalic.eot');
    src: url('../fonts/ClanPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClanPro-BoldItalic.woff') format('woff'),
         url('../fonts/ClanPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
	}

@font-face {
    font-family: 'ClanPro-News';
    src: url('../fonts/ClanPro-News.eot');
    src: url('../fonts/ClanPro-News.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClanPro-News.woff') format('woff'),
         url('../fonts/ClanPro-News.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'ClanPro-NewsItalic';
    src: url('../fonts/ClanPro-NewsItalic.eot');
    src: url('../fonts/ClanPro-NewsItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClanPro-NewsItalic.woff') format('woff'),
         url('../fonts/ClanPro-NewsItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
	}

@font-face {
    font-family: 'ClanPro-Book';
    src: url('../fonts/ClanPro-Book.eot');
    src: url('../fonts/ClanPro-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClanPro-Book.woff') format('woff'),
         url('../fonts/ClanPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'ClanPro-BookItalic';
    src: url('../fonts/ClanPro-BookItalic.eot');
    src: url('../fonts/ClanPro-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClanPro-BookItalic.woff') format('woff'),
         url('../fonts/ClanPro-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
	}

body{
	font: normal 14px/24px "ClanPro-Book", Helvetica, sans-serif;
	color: #253238;
	letter-spacing: 0;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: always;
	
	overflow-x: hidden;
/*	min-height: 3937px;*/
/*	margin-top: 200px;*/
/*	background: url('../images/bg.png') no-repeat center top;*/
	
	font-variant-ligatures: common-ligatures;
	-moz-font-feature-settings: "liga", "clig";
	-webkit-font-feature-settings: "liga", "clig";
	font-feature-settings: "liga", "clig";
	}

@media screen and (min-width: 577px) and (max-width: 768px) {
/*	body{ background: red; }*/
	}

/* Grid */

.col-1{ width: 8.33333333%}
.col-2{ width: 16.66666666%}
.col-3{ width: 25% }
.col-4{ width: 33.33333333%}
.col-5{ width: 41.66666667%}
.col-6{ width: 50%}
.col-7{ width: 58.33333333%}
.col-8{ width: 66.66666666%;}
.col-9{ width: 75%}
.col-10{ width: 83.33333333%}
.col-11{ width: 91.66666666%}
.col-12{ width: 100%}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,.col-9, .col-10, .col-11,.col-12{
	float: left;
	}

.offset-1{ margin-left: 8.33333333%; }
.offset-1-5{ margin-left: 12.499995%; }
.offset-2{ margin-left: 16.66666666% }
.offset-3{ margin-left: 25% }
.offset-4{ margin-left: 33.33333333%}
.offset-5{ margin-left: 41.66666667%}
.offset-6{ margin-left: 50%}
.offset-7{ margin-left: 58.33333333%}
.offset-8{ margin-left: 66.66666666%; }
.offset-9{ margin-left: 75%}
.offset-10{ margin-left: 83.33333333%}
.offset-11{ margin-left: 91.66666666%}


section{
	display: table;
	width: 100vw;
	position: relative;
	margin-bottom: 96px;
	}
	
	.container{
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		display: table;
		}

@media screen and (min-width: 100px) and (max-width: 576px) {
	section{
		margin-bottom: 50px;
		}
		
	.container{
		margin: 0 auto;
		padding: 0 16px;
		}
		
	.container .col-1,
	.container .col-2,
	.container .col-3,
	.container .col-4,
	.container .col-5,
	.container .col-6,
	.container .col-7,
	.container .col-8,
	.container .col-9,
	.container .col-10,
	.container .col-11,
	.container .col-12{
		width: 100%;
		}
		
	.container .offset-1,
	.container .offset-2,
	.container .offset-3,
	.container .offset-4,
	.container .offset-5,
	.container .offset-6,
	.container .offset-7,
	.container .offset-8,
	.container .offset-9,
	.container .offset-10,
	.container .offset-11,
	.container .offset-12{
		margin: 0;
		}
	}

@media screen and (min-width: 577px) and (max-width: 768px) {
	.container{
		margin: 0 auto;
		padding: 0 32px;
		}
		
	.col-8{ width: 83.33333333%}
	.offset-2{ margin-left: 8.33333333% }
	}
	
/* Typography */

h1{
	font: normal 42px/56px "ClanPro-Book", Helvetica, sans-serif;
	letter-spacing: -0.1px;
	}
	
	h1 span{
		font-family: "ClanPro-News";
		}
 
h2{
	font: normal 30px/40px "ClanPro-News", Helvetica, sans-serif;
	}
 
h3{
	font: normal 24px/32px "ClanPro-Book", Helvetica, sans-serif;
	}
	
h3.h3-light{
	font: normal 20px/32px "ClanPro-Book", Helvetica, sans-serif;
	}
	
h4{
	font: normal 18px/24px "ClanPro-News", Helvetica, sans-serif;
	}

h5{
	font: normal 13px/16px "ClanPro-News", Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: .4px;
	}

h6{
	font: normal 10px/16px "ClanPro-Medium", Helvetica, sans-serif;
	color: #253238;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	}
	
p{
	font: normal 14px/24px "ClanPro-Book", Helvetica, sans-serif;
	text-align: left;
	}

p.p-intro{
	font: normal 16px/24px "ClanPro-Book", Helvetica, sans-serif;
	text-align: left;
	}

a{
	font: normal 12.2px/24px "ClanPro-Medium", Helvetica, sans-serif;
	color: #02D557;
	letter-spacing: 0.41px;
	text-decoration: none;
	transition: all .15s ease-in-out;
	vertical-align: middle;
	}
	
a.link-bold{
	font: normal 14px/24px "ClanPro-Bold", Helvetica, sans-serif;
	letter-spacing: 0.6px;
	text-decoration: none;
	}
	
	a:hover{
		color: #00AD46;
		}

small{
	font: normal 12px/16px "ClanPro-News", Helvetica, sans-serif;
	color: #253238;
	}

h1, h2, h3, h4, h5, h6, p, small{
	display: block;
/*	margin-bottom: 20px;*/
	}
 
@media screen and (min-width: 100px) and (max-width: 576px) {
	h1{
		font-size: 28px;
		line-height: 40px;
		}
	 	 	
	h2{
		font-size: 28px;
		line-height: 40px; 
		}
		
	h3{
		font-size: 22px;
		line-height: 32px;
		letter-spacing: -0.4px; 
		}
		
	h4{
		font-size: 20px;
		line-height: 24px; 
		}
	h5{
		 
		}
	h6{
		font-size: 12px;
		line-height: 20px;
		}
	
	p{
		font-size: 15px;
		line-height: 28px;
		}
		
	small{
		font-size: 13px;
		line-height: 16px;
		}
	a{
		font-size: 14px;
		letter-spacing: 0.47px;
		}
	
	}
 
 /* Background Colors */

.bg-black{ background-color: #253238; }

.bg-steel{ background-color: #425A63; }

.bg-slate{ background-color: #75909C; }

.bg-smoke{ background-color: #CED9DA; }

.bg-gray{ background-color: #EAEFF2; }

.bg-light-gray{ background-color: #F8F9F8; }


.bg-jungle{ background-color: #00AD46; }
 
.bg-leave{ background-color: #02D557; }

.bg-green{ background-color: #2ADD72; }

.bg-esmerald{ background-color: #50E58C; }

.bg-dark-mint{ background-color: #7EEEAB; }

.bg-mint{ background-color: #9AF1C3; }


.bg-yellow{ background-color: #FFC100; }

 
/* Text Colors */

.color-black{ color: #253238; }

.color-steel{ color: #425A63; }

.color-slate{ color: #75909C; }

.color-smoke{ color: #CED9DA; }

.color-gray{ color: #EAEFF2; }

.color-light-gray{ color: #F8F9F8; }


.color-jungle{ color: #00AD46; }
 
.color-leave{ color: #02D557; }

.color-green{ color: #2ADD72; }

.color-esmerald{ color: #50E58C; }

.color-dark-mint{ color: #7EEEAB; }

.color-mint{ color: #9AF1C3; }


.color-yellow{ color: #FFC100; }

 	
 /* Header */
 
  header{
  	width: 100%;
  	z-index: 100;
  	position: absolute;
  	z-index: 2;
  	top: 0;
  	left: 0;
	padding: 36px 0 34px;
  	}
 	
  .header{
  	margin: 0 auto;
  	width: 100%;
  	max-width: 1440px;
  	padding: 0 8.33333%;
  	display: table;
  	}
  	
  	.logo{
  		height: 30px; 
  		width: 104px;
  		background: url('../images/logotipo-abre.svg') no-repeat left top;
  		float: left;
  		margin-right: 26px;
  		margin-left: -10px;
  		position: relative;
  		z-index: 20;
  		}
  	
  	footer .logo{
  		z-index: 1;
  		}
  	
  @media screen and (min-width: 100px) and (max-width: 1280px) {
  	.header{
  		margin: 0 auto;
  		width: 100%;
  		max-width: 1440px;
  		padding: 0 2%;
  		display: table;
  		}
  	}
  			
  /* Menu */
 
  ul.nav {
  	list-style: none;
  	}
  
  ul.nav li{
  	display: inline-block;
	}
  			
  .nav .menu{
/*  	overflow: scroll;*/
  	}
  	
  	.nav .menu a,
  	.menu-right a:first-child{ 
  		padding: 0 20px 0 0;
  		color: #fff;
  		text-decoration: none;
  		text-transform: uppercase;
  		transition: all .1s ease-in-out;
  		
  		font-family: ClanPro-Medium;
  		font-size: 13px;
  		color: #FFFFFF;
  		letter-spacing: 0.19px;
  		text-transform: capitalize;
  		position: relative;
  		}
  		
  		.nav .menu a:hover,
  		.menu-right a:hover:first-child{ 
 			color: #253238;
 			}
 		
 			.nav .menu a:before,
 			.menu-right a:first-child:before{
 				position: absolute;
 				content: "";
 				bottom: -2px;
 				left: 0;
 				height: 2px;
 				width: 0px;
 				background: #253238;
 				transition: all .1s ease-in-out;
 				}
 				
 				.nav .menu a:hover:before,
 				.menu-right a:hover:first-child:before{
 						width: 20px;
 						}
 				
 	/*.is-selected{
 		color: #fff!important;
 		position: relative;
 		}
 		
 		.is-selected::after{
 			content: '';
 			position: absolute;
 			width: 74%;
 			height: 2px;
 			background: red;
 			bottom: -2px;
 			left: 13%;
 			}*/
 			 	
  	.menu-anchor,
  	.menu-anchor p{
  		display: none;
  		position: absolute;
  		}
  	
  	menu{
  		display: none;
  		}
  
/* Menu colapsado */

  	header.shrink{
  		position: fixed;
  		transform: translateZ(0);
  		backface-visibility: hidden;
  		background: rgba(255, 255, 255, .97);
  		
  		-webkit-animation: flash 150ms ease-in-out;
		   -moz-animation: flash 150ms ease-in-out;
			 -o-animation: flash 150ms ease-in-out;
				animation: flash 150ms ease-in-out;
		animation-iteration-count: 1;
		
		border-bottom: 1px solid rgba(0, 0, 0, .02);
		padding: 18px 0 12px;
  		}
  		
		.shrink .header{
			}
  		
  			.shrink .header .social{
  				display: none;
  				}
  				
  			.shrink	.header .contact-phone.col-4{
				margin-top: 0px;
				float: right;
				width: auto;
				}
				
				.shrink	.header .contact-phone span:nth-child(n+3){
					display: none;
					}
  			
  			.shrink ul.nav { 
				color: black;
				}
				
		.shrink .nav .menu a{
			display: inline-block;
			padding-top: 4px;
			color: #253238;
			}
			
			.shrink .nav .menu a:hover{ 
				color: #2ADD72;
				}		
 		
 		.shrink .nav .menu a:before{
			bottom: 2px;
			}
 		
		.shrink .nav .menu a:hover:before,
		.shrink .menu-right a:hover:first-child:before{
			background: #2ADD72;
			}
 			
 			.menu-right a:first-child:before{
				position: absolute;
				content: "";
				bottom: -2px;
				left: 0;
				height: 2px;
				width: 0px;
				background: #fff;
				transition: all .1s ease-in-out;
				}
 			
 		
@keyframes flash {
	0% { top: -100px; }
    100% { top: 0; }
	}
@-webkit-keyframes flash {
	0% { top: -100px; }
	100% { top: 0; }
	}		
@-moz-keyframes flash {
	0% { top: -100px; }
	100% { top: 0; }
	}
@-o-keyframes flash {
	0% { top: -100px; }
	100% { top: 0; }
	}
	
/* Buttons */

.btn{
	font: normal 13px/1.5em "ClanPro-Medium";
	color: #253238;
	cursor: pointer;
	border-radius: 2px;
	
	display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
    	-ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: .55rem .75rem;
/*    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
    transition: all .15s ease-in-out;
    margin: 0;
	}


.btn-small{
	padding: .55rem .75rem;
	}

.btn-medium{
	padding: .65rem .75rem;
	}
	
.btn-big{
	padding: .77rem .75rem;
	}


.btn-shadow{
		box-shadow: 0 12px 14px 0 rgba(14,20,22,0.15);
		}
		
		.btn-shadow:hover{
			box-shadow: 0 6px 7px 0 rgba(14,20,22,0.1);
			}
	
.btn-border--black{
	 border: 2px solid #253238;
	}
	
	.btn-border--black:hover{
		 border: 2px solid #253238;
		 background: #253238;
		 color: white;
		}
		
.btn-border--white{
	 border: 2px solid rgba(255, 255, 255, .7);
	 color: white;
	}
	
	.btn-border--white:hover{
		 border: 2px solid white;
		 background: white;
		 color: #253238;
		}	

.btn-white{
	 color: #253238;
	 background: white;
	}
	
	.btn-white:hover{
		 color: #425A63;
		 background: #F8F9F8;
		}
		
.btn-green{
	 color: #fff;
	 background: #2ADD72;
	}
	
	.btn-green:hover{
		 background: #02D557;
		}	

@media screen and (min-width: 100px) and (max-width: 576px) {
	.btn{
	    padding: 0.9rem;
	    letter-spacing: -0.2px;
	    text-align: left;
		}
	}
	
/* menu */

.menu-right{
	float: right;
	margin-top: -10px;
	}
 
.menu-right .btn{
 	width: 8.3333vw;
 	min-width: 100px;
 	margin: 0;
 	}
 
.menu-right a{
	margin-right: 12px;
 	}
 	
 	.menu-right a:first-child{
		margin-right: 0px ;
		color: white;
		line-height: 3.6em;
		}
		
 	.menu-right a:nth-child(2) {
		margin-right:12px ;
		}
		
 	.menu-right a:last-child{
 		margin-right: 0;
 		}
 
 .menu-right a.btn-white{
 	box-shadow: 0 12px 14px 0 rgba(14,20,22,0.15);
 	}
 	
 	.menu-right a.btn-white:hover{
 		box-shadow: 0 6px 7px 0 rgba(14,20,22,0.1);
 		}
	
/* Menu colapsado */

.shrink .menu-right{
	margin-top: -7px;
	}

.shrink .menu-right a:first-child{
	color: #253238;
	}

.shrink .menu-right a.btn-white{
	 color: #fff;
	 background: #2ADD72;
	}
	
	.shrink .menu-right a.btn-white:hover{
		 background: #02D557;
		}

.shrink .menu-right a.btn-border--white{
	 color: #2ADD72;
	 background: #fff;
	 border: 2px solid #2ADD72;
	}
	
	.shrink .menu-right a.btn-border--white:hover:hover{
		 color: #02D557;
		 border: 2px solid #02D557;
		}
 
  			
/* Media queries */
  	
@media screen and (min-width: 100px) and (max-width: 1080px) {
	
	header{ }
		
	/* header */
	
	.header{
		padding: 0 32px;
		}
	
	/* Menu */
	
	ul.nav { }
		
	.nav .menu,
	.nav .menu-right{
		display: none;
		} 
	
	.menu-anchor p{
		float: left;
		display: block;
		font-family: ClanPro-Medium;
		font-size: 12.2px;
		color: #FFFFFF;
		letter-spacing: 0.4px;
		margin-top: -3px;
		}	
	
	.menu-anchor {
		width: 75px;
		height: 21px;
		position: relative;
		cursor: pointer;
		z-index: 100;
		top: 3px;
		float: right;
		}
	
	.menu-anchor #burger{
		height: 3px;
		width: 30px;
		margin-top: 9px;
		background: #fff;
		transition: all .1s linear;
		float: right;
		}	
	
	.menu-anchor #burger:after,
	.menu-anchor #burger::before {
		transition: width .1s .2s linear, top .1s .1s linear, bottom .1s .1s linear, transform .1s linear;
		content: '';
		position: absolute;
		height: 3px;
		right: 0;
		background: #fff;
		width: 30px;
		}
	
	.menu-anchor #burger:after {
		top: 0px;
		}
	
	.menu-anchor #burger:before {
		bottom: 0px;
		}
	
	.menu-active .menu-anchor{
/*		top: 32px;
		right: 20px;
		position: fixed;*/
		}
		
	.menu-active .menu-anchor #burger,
	.menu-active .menu-anchor #burger:after,
	.menu-active .menu-anchor #burger::before {
		background: #fff;
		transition: width .1s linear, top .1s .1s linear, transform .1s .2s linear;
		}
	
	.menu-active .menu-anchor #burger{
		background: transparent!important;
		}
	
	.menu-active .menu-anchor #burger:after {
		top: 9px;
		transform: rotate(45deg);
		}
	
	.menu-active .menu-anchor #burger::before {
		bottom: 9px;
		transform: rotate(-45deg);
		}	
	
	menu {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		background: #2ADD72;
		z-index: 20;
		height: 100vh;
		opacity: .98;
		}
		
	menu li{
		position: relative;
		padding: 16px;
		}
		
		menu li::after{
			position: absolute;
			content: '';
			height: 2px;
			bottom: 0;
			left: 10%;
			width: 80%;
			background: rgba(154, 241, 195, .5);
			}
		
	menu li a {
		display: block;
		text-decoration: none;
		color: white;
		}
	
		menu li a.btn{
			width: 80%;
			max-width: 300px;
			}			
				
		menu li:first-child{
			padding-bottom: 24px;
			}
				
		menu li:nth-child(n+2){
			padding: 24px 13%;
			}
			
			menu li:nth-child(n+2) a {
				font-size: 18px;
				text-align: left;
				line-height: 48px;
				}
		
	/* ------- */
	
	menu {
		-webkit-transform: translateY(-170vh);
		-moz-transform: translateY(-170vh);
		-ms-transform: translateY(-170vh);
		transform: translateY(-170vh);
		transition: all .15s ease-in-out;
		}
		
	.menu-active menu {
		padding-top: 85px;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateY(0px);
		}
		
	/* Menu colapsado mobile*/
	
	.shrink .header{
		padding-bottom: 6px;
		}
			
	.shrink .logo{
		width: 115px;
		height: 33px;
		background-size: 100%;
		}
		
	.shrink .menu-anchor {
		}
		
	.shrink .menu-anchor #burger,
	.shrink .menu-anchor #burger:after,
	.shrink .menu-anchor #burger::before{
		background: #253238;
		}	
		
	.shrink .menu-anchor p{
		color: #253238;
		}
		
	.shrink .menu-active + .menu-anchor #burger,
	.shrink .menu-active + .menu-anchor #burger:after,
	.shrink .menu-active .menu-anchor #burger::before {
		background: #fff;
		}	
		
	}	

@media screen and (min-width: 100px) and (max-width: 576px) {	
	header{
		padding: 29px 0px;
		}
		
	.header{
		padding: 0 16px;
		}
	
	.logo{
		width: 115px;
		height: 33px;
		background-size: 100%;
		}
	
	header.shrink{
		padding: 16px 0px 4px;
		}
	}
 
 
 @media screen and (min-width: 100px) and (max-width: 580px) {
 	menu li a.btn-border--white{
 		margin-top: 16px;
 		}
 	}

/* Social icons */

	.social a{
		font-size: 0;
		}
		.social li{
			border-radius: 100%;
			height: 40px;
			width: 40px;
			text-align: center;
			vertical-align: middle;
			position: relative;
			transition: all .2s ease-in-out;
			background-color: #253238;
			}
			
		.social li:hover{
			background: white;
			box-shadow: 0 9px 10px 0 rgba(0,0,0,0.10);
			}
		
		.social li.social-facebook,
		.social li.social-linkedin,
		.social li.social-google-plus,
		.social li.social-twitter,
		.social li.social-email{
			background-position: center center;
			background-size: 24px;
			background-repeat: no-repeat;
			}
			
			.social li.social-facebook{
				background-image: url('../images/icon-facebook.svg');
				}	
			
			.social li.social-linkedin{
				background-image: url('../images/icon-linkedin.svg');
				}
				
			.social li.social-google-plus{
				background-image: url('../images/icon-google-plus.svg');
				}
				
			.social li.social-twitter{
				background-image: url('../images/icon-twitter.svg');
				}
				
			.social li.social-email{
				background-image: url('../images/icon-email.svg');
				}
		
/* Footer */

footer{
	width: 100%;
	display: table;
	background: #2ADD72;
/*	margin-top: 2692px;*/
	position: relative;
	}

footer *{
/*	border: 1px solid rgba(255, 255, 255, .2);*/
	}
	
	footer .footer-col-1,
	footer .footer-col-2{
		float: left;
		}
	
	footer .footer-col-1{
		width: 25%;
		}
		
	footer .footer-col-2{
		width: 62.5%;
		margin-left: 12.5%;
		}
	
	footer .footer-first-row,
	footer .footer-second-row{
		border-bottom: 1px solid rgba(154, 241, 195, .3);
		}
	
		footer .footer-first-row{
			margin-top: 60px;
			padding-bottom: 30px;
			}
		
		footer .footer-second-row{
			margin-top: 44px;
			padding-bottom: 24px;
			}
		
		footer .footer-third-row{
			margin-top: 40px;
			padding-bottom: 48px;
			}
		
	.footer-first-row .logo{
		width: 115px;
		height: 33px;
		background-size: 100%;
		margin: 15px 0px;
		}
	
	footer .social li{
		display: inline-block;
		margin: 5px 30px 0 0;
		}
		
		footer .social a:last-child li{
			margin-right: 0;	
			}
	
	footer .footer-first-row .btn-white{
		width: 100%;
		box-shadow: 0 9px 10px 0 rgba(0,0,0,0.10);
		}
		
	footer h6{
		font: normal 18px/1.33em "ClanPro-News", Helvetica;
		color: #253238;
		position: relative;
		margin-bottom: 10px;
		text-transform: none;
		padding-left: 20px;
		}
		
		footer h6::before{
			position: absolute;
			content: '';
			width: 14px;
			height: 14px;
			top: 4px;
			left: 0;
			}
		
		footer h6.safe-site:before{
			background: url('../images/icon-h6-lock.svg') no-repeat left top;
			}
		
		footer h6.sitemap:before{
			background: url('../images/icon-h6-points.svg') no-repeat left top;
			}
			
		footer h6.pin:before{
			background: url('../images/icon-h6-pin.svg') no-repeat left top;
			}
		
		footer .footer-second-row .safe-seal{
			position: relative;
			padding-top: 6px;
			}
			
			footer .footer-second-row .safe-seal img{
				margin: 0;
				padding: 0;
				width: 100%;
				max-width: 224px;
				}
		
		footer .footer-sitemap div{
			display: inline-block;
			vertical-align: text-top;
			padding-right: 20px;
			}
			
		footer .footer-sitemap li a,
		footer .footer-estates li a{
			font: normal 11px/1.5em "ClanPro-Medium", Helvetica;
			color: #F8F8F9;
			letter-spacing: 0.17px;
			text-transform: uppercase;
			}
			
			footer .footer-sitemap li a:hover,
			footer .footer-estates li a:hover{
				color: #253238;
				}
			
			footer .footer-estates li{
				display: inline-block;
				position: relative;
				}
				
				footer .footer-estates li::after{
					position: relative;
					content: '';
					height: 2px;
					width: 2px;
					background: #f5f5f5;
					display: inline-block;
					bottom: 3px;
					margin: 0 8px;
					}
					
					footer .footer-estates li:last-child:after{
						display: none;
						}	
				
			footer .footer-third-row h6{
				margin-top: 6px;
				}
				
		footer .footer-signature{
			background: #253238;
			padding: 12px 0;
			margin: 0;
			}
			
			footer .footer-signature p,
			footer .footer-signature a{
				font: normal 12px/16px "ClanPro-News", Helvetica;
				color: #75909C;
				margin: 0;
				padding: 0;
				}
				
				footer .footer-signature a:hover{
					color: #2ADD72;
					}
		
		footer .footer-signature .footer-col-2 div{
			float: left;
			color: #75909C;
			font-size: 12px;
			line-height: 16px;
			margin-right: 3px;
			}
					
@media screen and (min-width: 100px) and (max-width: 576px) {
	footer .col-8{
		width: calc(100% - 32px);
		}
		
	footer .offset-2{
		margin: 0 16px;
		}
	
	footer h6{
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		}
	
	footer .footer-first-row,
	footer .footer-second-row{
		border-bottom: 2px solid rgba(154, 241, 195, .3);
		}
	
	footer .footer-col-1,
	footer .footer-col-2{
		width: 100%;
		margin: 0;
		}
		
		footer .footer-first-row .footer-col-1{
			margin-bottom: 33px;
			}
		
		footer .footer-first-row .footer-col-2 .col-5{
			width: calc(100% - 48px);
			margin: 0 auto;
			float: none;
			}
		
		footer .footer-first-row .footer-col-2 .col-7{
			min-width: 226px;
			float: none;
			margin: 0 auto;
			margin-bottom: 35px;
			}
			
	footer .footer-first-row{
		margin-top: 52px;
		padding-bottom: 44px;
		}
		
		footer .footer-first-row .logo{
			margin: 0 auto;
			float: none;
			}
		
		footer .footer-first-row .social li{
			width: 46px;
			height: 46px;
			margin: 0 43px 0 0;
			}	
	
	footer .footer-second-row{
		margin-top: 36px;
		padding-bottom: 44px;
		}
		
		footer .footer-second-row h6,
		footer .footer-third-row h6,
		.footer-signature .footer-col-1{
			width: 33.3333%;
			padding-right: 8px;
			float: left;
			}
		
		footer .footer-second-row .safe-seal{
			float: left;
			}
			
			footer .footer-second-row .safe-seal img{
				max-width: 187px;
				}
		
		footer .footer-second-row .footer-sitemap{
			margin-top: 26px;
			}
		
		footer .footer-second-row .footer-sitemap .col-4,
		.footer-signature .footer-col-2{
			width: 66.6666%;
			float: right;
			}
			
			footer .footer-sitemap > div:nth-child(2) {
				margin-top: 0px;
				}
				
				footer .footer-sitemap li a,
				footer .footer-estates li a{
					font: normal 11px/28px "ClanPro-Medium", Helvetica;
					}
		
		footer .footer-third-row{
			margin-top: 31px;
			padding-bottom: 38px;
			}
			
			footer .footer-third-row .footer-col-1{
				width: 33.3333%;
				}
			
			footer .footer-third-row .footer-col-2{
				width: 66.6666%;
				margin-top: 5px;
				}
				
				footer .footer-estates li{
					display: block;
					}
					
					footer .footer-estates li::after{
						display: none;
						}
		
		footer .footer-signature p,
		footer .footer-signature a{
			font-size: 11px;
			line-height: 24px;
			letter-spacing: -0.01px;
			}
		
		footer .footer-signature .footer-col-2 div{
			float: none;
			line-height: 24px;
			}
			footer .footer-signature .footer-col-2 div.mobile{
			display: none;	
			}
		
	}
	
	
/* Hero Banner */
	
.hero-banner{
	background-color: #2ADD72;
	min-height: 600px;
	position: relative;
/*	opacity: .51;*/
	margin-bottom: 0;
	overflow:hidden;
	display: block;
	}
	
	.hero-banner .col-4{
		min-width: 400px;
		}
	
	.hero-banner-img{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		overflow: hidden;
		}
		
	.hero-banner-img img{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		}
	
	.hero-banner .container{
		position: absolute;
		display: block;
		z-index: 1;
		bottom: 104px;
		left: 0;
		right: 0;
		margin: auto;
		}
		
		.hero-banner .container h1{
			margin-bottom: 15px;
			}
		
		.hero-banner .container p{
			font: normal 16px/32px "ClanPro-News", Helvetica;
			opacity: 0.7;
			color: #253238;
			}
		
		.hero-banner .container .hero-container-divisor{
			height: 4px;
			width: 60px;
			background-color: white;
			display: block;
			clear: both;
			margin: 16px 0 48px;
			}
			
			
		.hero-banner .container a{
			margin-right: 8px;
			width: 40%;
			min-width: 180px;
			}
	
@media screen and (min-width: 100px) and (max-width: 576px) {
	.hero-banner .container{
		bottom: 36px;
		}
		
	.hero-banner-img img{
/*		right: -80%;*/
		}
	
	.hero-banner .container h1{
		margin-bottom: 9px;
		}
	
	.hero-banner .container p{
		font-size: 15px;
		line-height: 24px;
		}
	
	.hero-banner .container .hero-container-divisor{
		width: 50px;
		}
	
	.hero-banner .container .col-4,
	.hero-banner .container .col-4 p{
		width: 75%;
		min-width: 100px;
		}
		
		.hero-banner .container .hero-cta a{
			width: 100%;
			margin-bottom: 16px;
			}
	.hero-banner .container .hero-container-divisor{
		margin-bottom: 32px;
		}
	
	}
	
/* Comuns */

.box-shadow{
	background: #FFFFFF;
	box-shadow: 0 12px 14px 0 rgba(37,50,56,0.06);
	border-radius: 2px;
	cursor: pointer;
	}
	
	.box-shadow,
	.box-shadow *{
		transition: all .15s ease-in-out;
		}
	
	.box-shadow a{
		width: 100%;
		height: 100%;
		display: table;
		}
		
.box-shadow:hover{
	box-shadow: 0 6px 7px 0 rgba(37,50,56,0.1);
	}
	
	.box-shadow:hover *{
		color:#253238;
		}

.title{
	position: relative;
	}
	
	.title:after{
		position: absolute;
		content: "";
		height: 2px;
		width: 40px;
		bottom: -16px;
		left: 0;
		background: #2ADD72;
		}

.link{
	position: relative;
	text-transform: uppercase;
	display: table;
	}

	.link span{
		width: 5px;
		height: 9px;
		margin-left: 8px;
		display: inline-block;
		background: url('../images/icon-link-arrow.svg') no-repeat left top;
		transition: all .15s ease-in-out;
		}
		
		.link:hover span{
			margin-left: 12px;
			}

.text-center{
	display: block;
	text-align: center;
	}
			
@media screen and (min-width: 100px) and (max-width: 576px) {	
	.title:after{
/*		position: absolute;
		content: "";
		height: 3px;
		width: 40px;
		bottom: -12px;
		left: 0;
		background: #2ADD72;*/
		}
		
	.box-shadow{
		box-shadow: none;
		}
	}		

/* Banner estagio internacional */

.banner-intern{
	background: #253238; 
	}
	
	.banner-intern-wrapper{
		padding: 10px 0 6px;
		
	/*	display: flex;
		flex-flow: row nowrap ;
		justify-content: flex-start ;
		align-content: flex-start;
		align-items: stretch;*/
		
		
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: stretch;
		}
		
		.banner-intern-icon{
			order: 1; 
			flex:  0 1 auto ;
			align-self: center;
			position: relative;
			display: inline-table;
			height: 100%;
			line-height: 0;
			}
				
		.banner-intern-text{
			margin-top: -1px;
			order: 2; 
			flex:  0 1 auto ;
			align-self: center;
			position: relative;
			}
			
		.banner-intern-link{
			order: 3; 
			flex:  0 1 auto ;
			align-self: center;
			position: relative;
			}	
		
		.banner-intern .banner-intern-link a{
			float: left;
			}

@media screen and (min-width: 100px) and (max-width: 1240px) {
	.banner-intern-icon img{
		height: 30px;
		}
	.banner-intern-icon{
		height: 100%;
		flex: 0 1 30px;
		}
	
	.banner-intern-text{
		flex: 0 1 79%;
		}
	
	.banner-intern-link{
		flex:  0 1 auto ;
		padding-left: 46px;
		}
	}

@media screen and (min-width: 100px) and (max-width: 768px) {
	.banner-intern-icon img{
		height: 38px;
		}
	.banner-intern-icon{
		height: 100%;
		flex: 0 1 38px;
		}
	
	.banner-intern-text{
		flex: 0 1 79%;
		}
	
	.banner-intern-link{
		flex:  0 1 auto ;
		padding-left: 56px;
		}
	}
	
@media screen and (min-width: 100px) and (max-width: 480px) {
	.banner-intern-icon img{
		height: 38px;
		}
	.banner-intern-icon{
		height: 100%;
		float: left;
		flex: 0 1 38px;
		}
	
	.banner-intern-text{
		flex: 0 1 79%;
		}
	
	.banner-intern-link{
		flex:  0 1 auto ;
		padding-left: 56px;
		}
	}
	

/* Three columns */
	
@media screen and (min-width: 100px) and (max-width: 576px) {	
	.three-collumns .col-3,
	.three-collumns .col-8{
		width: 100%;
		margin: 0;
		}
	
	.three-collumns .col-3{
		margin-bottom: 44px;
		}
		
		.three-collumns .col-3:last-child{
			margin-bottom: 0;
			}
		
	.three-collumns .col-3 .three-collumns-text,
	.three-collumns .col-3 .icon-rounded{
		}
		
	.three-collumns .col-3 .icon-rounded{
		float: left;
		margin-right: 14px;
		width: calc(33.333% - 14px);
		}
		
		.three-collumns .col-3 .icon-rounded img{
			width: calc(100% + 10px);
			max-width: 96px;
			}
		
	.three-collumns .col-8 h3.title.mb9{
		margin-bottom: 56px;
		}
		
	.three-collumns .col-3 .three-collumns-text{
		width: 66.6666%;
		float: left;
		padding-top: 5px;
		}
		
		.three-collumns .col-3 .three-collumns-text h4{
			margin-bottom: 8px;
			}
			
		.three-collumns .col-3 .three-collumns-text p{
			margin-bottom: 16px;
			}
	}


/* Icons */
.icon-rounded{
	width: 96px; 
	height: 96px;
	}
	
	.icon-rounded img{
		margin-left: -5px;
		}
	
/* Services */

.services .link span{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-right: 12px;
	margin-left: 0;
	margin-bottom: -3px;
	display: inline-block;
	background: #253238;
	position: relative;
	}
	
	.services .link span:before,
	.services .link span:after{
		position: absolute;
		content: '';
		top: 0; bottom: 0; left: 0; right: 0;
		margin: auto;
		background: white;
		transform: translateZ(0);
		transition: all .15s ease-in-out;
		
		}
		
		.services .link span:before{
			width: 8px;
			height: 2px;
			}
		
		.services .link span:after{
			width: 2px;
			height: 8px;
			}
	
	.services .link:hover span{
		margin-left: 0;
		}
		
		.services .link:hover span{
			background: #00AD46;
			}
		
		.services .link:hover span:before,
		.services .link:hover span:after{
			transform: rotate(45deg);
			}

.services .icon-services img{
	width: 100%;
	max-width: 80px;
	}	
		
.services *{
/*	border: 1px solid #333;*/
	-ms-word-break: break-all;
	     word-break: break-all;
	
	     word-break: break-word;
	
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;
	}

@media screen and (min-width: 100px) and (max-width: 576px) {
	.services .col-6{
		width: 50%;
		}
		
	.services .title{
		margin-bottom: 52px;
		}
	
	.services .col-3 h4{
		margin-bottom: 20px;
		}
		
		.services .col-3 .col-12{
			margin-bottom: 30px;
			}
			
	.services .icon-services{
		height: 60px;
		width: 60px;
		margin-bottom: 8px;
		}
		
		.services .icon-services img{
			height: 100%;
			}
		
	.services .col-6 h6{
		width: 100%;
		padding-right: 20px;
		
		-ms-word-break: hyphenate;
		     word-break: hyphenate;
		
		     word-break: hyphenate;
		
		-webkit-hyphens: none;
		   -moz-hyphens: none;
		        hyphens: none;
		}
	
	.services .link span{
		width: 24px;
		height: 24px;
		margin-bottom: -6px;
		}
			
		.services .link span:before{
			width: 12px;
			}
		
		.services .link span:after{
			height: 12px;
			}	
	}


/* Banner 13 anos */
.banner-years{
	background-color: #F8C437;
	border: 5px solid #EAEFF2;
	
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	min-height: 144px;
	}
		
.banner-years-left,
.banner-years-right{
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	justify-content: center;
	align-self: center;
	
	display: inline-flex;
    position: relative;
    justify-content: center;
	}

	.banner-years-left{
		background: url('../images/banner-bg-illustration.svg') right center no-repeat;
		background-size: auto 100%;
		width: 30%;
		align-self: auto;
		}
	
		.banner-years-left img{
			width: 100%;
			}
		
	.banner-years-right{
		width: 70%;
		padding: 8px 40px;
		}
		
		.banner-years-right p{
			font: normal 20px/32px "ClanPro-News";
			color: #ffffff;
			letter-spacing: -0.21px;
			}
			
			.banner-years-right p span{
				font-family: 'ClanPro-NewsItalic';
				font-style: italic;
				}

@media screen and (min-width: 100px) and (max-width: 768px) {		
	.banner-years{
		min-height: 1px;
		}
		
	.banner-years-right p{
		font-size: 16px;
		line-height: 24px;
		}
	}

@media screen and (min-width: 100px) and (max-width: 576px) {
	.banner-years{
		-webkit-flex-flow: column;
		flex-flow: column;
		min-height: 1px;
		}
	.banner-years-left,
	.banner-years-right{
		width: 100%;
		}
		
		.banner-years-left{
			background-image: none;
			background-color: #196134;
			}
			
		.banner-years-right{
			padding: 16px 36px;
			}	
		
		.banner-years-right p{
			font-size: 14px;
			letter-spacing: -0.2px;
			line-height: 20px;
			}
	}

			
/* Clients list */

.clients{
	}
	
	.clients {
		overflow:hidden;
		}
	
	.clients li{
		padding: 45px 0px;
		min-height:40px;
		max-height: 200px;
		position:relative;
		width:20%;
		float:left;
		}

@media screen and (min-width: 100px) and (max-width: 576px) {
	.clients {
		margin-top: 22px;
		margin-bottom: 44px;
		}
	
	.clients li{
		width:33.333%;
		padding: 25px 40px 25px 0px;
		}
		
		.clients li img{
			width: 100%;
			}
	}

/* Depoimentos */

.depoiments{
	width: 100vw; 
	display: inline-block; 
	}
	
	.depoiments-item{
		padding: 48px;
		}
	
	.depoiments-head{
		display: table;
		width: 100%;
		position: relative;
		}
		
		.depoiments-avatar{
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background: #f5f5f5 url('../images/icon-avatar-default.svg');
			overflow: hidden;
			position: relative;
			float: left;	
			}
		
		.depoiments-info{
			width: auto;
			text-align: left;
			position: absolute;
			bottom: 0;
			left: 96px;
			}
		
			.depoiments-info h5{
				font: normal 16px/24px "ClanPro-Medium";
				color: #253238;
				text-transform: capitalize;
				margin-bottom: 1px;
				}
	
			.depoiments-info small{
				color: #75909C;
				}
	
	.depoiments-text p{
		font-size: 12px;
		line-height: 24px;
		color: #253238;
		}
	
	/* ---- */
	
	/* Slider */
	.slick-slider {
	    position: relative;
	
	    display: block;
	    box-sizing: border-box;
	
	    -webkit-user-select: none;
	       -moz-user-select: none;
	        -ms-user-select: none;
	            user-select: none;
		
		cursor: move;
	    cursor: grab;
	    cursor: -moz-grab;
	    cursor: -webkit-grab;    
	    
	    -webkit-touch-callout: none;
	    -khtml-user-select: none;
	    -ms-touch-action: pan-y;
	        touch-action: pan-y;
	    -webkit-tap-highlight-color: transparent;
		}
	
	.slick-list {
	    position: relative;
	
	    display: block;
	    overflow: hidden;
	
	    margin: 0;
	    padding: 0;
		}
	
	.slick-list:focus{
	    outline: none;
		}
		
	.slick-list.dragging{
	    cursor: grabbing;
	    cursor: -moz-grabbing;
	    cursor: -webkit-grabbing;
		}
	
	.slick-slider .slick-track,
	.slick-slider .slick-list
	{
	    -webkit-transform: translate3d(0, 0, 0);
	       -moz-transform: translate3d(0, 0, 0);
	        -ms-transform: translate3d(0, 0, 0);
	         -o-transform: translate3d(0, 0, 0);
	            transform: translate3d(0, 0, 0);
	}
	
	.slick-track
	{
	    position: relative;
	    top: 0;
	    left: 0;
	
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	.slick-track:before,
	.slick-track:after
	{
	    display: table;
	
	    content: '';
	}
	.slick-track:after
	{
	    clear: both;
	}
	.slick-loading .slick-track
	{
	    visibility: hidden;
	}
	
	.slick-slide
	{
	    display: none;
	    float: left;
	
	    height: 100%;
	    min-height: 1px;
	}
	[dir='rtl'] .slick-slide
	{
	    float: right;
	}
	.slick-slide img
	{
	    display: block;
	}
	.slick-slide.slick-loading img
	{
	    display: none;
	}
	.slick-slide.dragging img
	{
	    pointer-events: none;
	}
	.slick-initialized .slick-slide
	{
	    display: block;
	}
	.slick-loading .slick-slide
	{
	    visibility: hidden;
	}
	.slick-vertical .slick-slide
	{
	    display: block;
	
	    height: auto;
	
	    border: 1px solid transparent;
	}
	.slick-arrow.slick-hidden {
	    display: none;
	}
	
	/* ---- */
	.slider {
		margin: 0px auto;
		}

    .slick-slide {
		margin: 20px 18px;
		text-align: center;
		
		background: #FFFFFF;
		box-shadow: 0 12px 14px 0 rgba(37,50,56,0.06);
		border-radius: 2px;
		}

		.slick-slide img {
			width: 100%;
			}

    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .7;
    }
    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }
    
    .slick-slide:focus{
    	outline: none;
    	}

	
		
	/* Arrows */
	.slick-prev,
	.slick-next{
		z-index: 1;
	   
	    position: absolute;
	    top: 50%;
	
	    display: block;
	
	    width: 34px;
	    height: 34px;
	    border-radius: 50%;
	    padding: 0;
	    
	    -webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	
	    cursor: pointer;
	
	    color: transparent;
	    border: none;
	    outline: none;
	    background: #02D557;
	    box-shadow: 0 12px 14px 0 rgba(11,43,23,0.30);
	    transition: all .15s ease-in-out;
		}
		
	.slick-prev:hover,
	.slick-prev:focus,
	.slick-next:hover,
	.slick-next:focus {
		background: #00AD46;
		box-shadow: 0 6px 10px 0 rgba(11,43,23,0.40);
		}
		
	.slick-prev:hover:before,
	.slick-prev:focus:before,
	.slick-next:hover:before,
	.slick-next:focus:before{
	    opacity: 1;
		}
		
	.slick-prev.slick-disabled:before,
	.slick-next.slick-disabled:before{
	    opacity: .25;
		}
	
	.slick-prev:before,
	.slick-next:before {
		position: absolute;
		content: '';
	    width: 20px;
	    height: 20px;
	    top: 0; bottom: 0;
	    left: 0; right: 0;
	    margin: auto;
	    line-height: 1;
	    color: white;
	    background: url('../images/icon-slider-arrow.svg') no-repeat center center;
		}
	
	.slick-prev {
	    left: 8.3333%;
		}
		
	[dir='rtl'] .slick-prev {
	    right: -25px;
	    left: auto;
		}
		
	.slick-prev:before { }
	
	[dir='rtl'] .slick-prev:before{
	    content: '';
		}
	
	.slick-next {
	    right: 8.3333%;
		}
		
	[dir='rtl'] .slick-next {
	    right: auto;
	    left: -25px;
		}
		
	.slick-next:before {
	     transform: rotate(180deg);
		}
		
	[dir='rtl'] .slick-next:before{
	    content: '';
		}
	
	/* Dots */
	
	.slick-dotted.slick-slider {
	    margin-bottom: 45px;
		}
	
	.slick-dots {
	    position: absolute;
	    bottom: -45px;
	
	    display: block;
	
	    width: 100%;
	    padding: 0;
	    margin: 0;
	
	    list-style: none;
	
	    text-align: center;
		}
		
	.slick-dots li {
	    position: relative;
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    margin: 0 4px;
	    padding: 0;
	    cursor: pointer;
		}
		
	.slick-dots li button{
	    font-size: 0;
	    line-height: 0;
	
	    display: block;
	
	    width: 16px;
	    height: 16px;
	    padding: 5px;
	
	    cursor: pointer;
	
	    border: 0;
	    outline: none;
	    background: transparent;
		}
		
	.slick-dots li button:hover,
	.slick-dots li button:focus {
	    outline: none;
		}
		
	.slick-dots li button:hover:before,
	.slick-dots li button:focus:before {
	    background: #75909C;
		}
	
	.slick-dots li button:after,
	.slick-dots li button:before {
		position: absolute;
		content: '';
		border-radius: 50%;
	    top: 0; bottom: 0;
	    left: 0; right: 0;
	    margin: auto;
	    transition: all .15s ease-in-out;
		}
	
	.slick-dots li button:after{
		border: 2px solid transparent;
		}
		
		.slick-dots li button:hover:after,
		.slick-dots li button:focus:after {
			border-color: #75909C ;
			}
		
			
	.slick-dots li button:before {
	    background: #253238;
	    width: 4px;
	    height: 4px;
		}
		
	.slick-dots li.slick-active button:before {
	    opacity: 1;
	    background: #2ADD72; 
		}
		
	.slick-dots li.slick-active button:after {
	    border: 2px solid #2ADD72; 
		}

@media screen and (min-width: 577px) and (max-width: 768px) {
	.slick-slide {
		margin: 8px;
		box-shadow: none;
		}
	}


@media screen and (min-width: 100px) and (max-width: 576px) {
	.depoiments-clients{
		padding: 60px 0 52px;
		margin: 0;
		}
	
	.depoiments{
		margin: 0;
		padding: 0;
		}
	
	.depoiments-item{
		padding: 36px 24px;
		}
	
	.depoiments-info h5{
		font: normal 18px/32px "ClanPro-Medium";
		margin-bottom: 2px;
		}
		
	.depoiments-text p{
		font-size: 15px;
		line-height: 28px;
		color: #253238;
		}
	
	.depoiments-avatar{
		float: none;
		margin-bottom: 7px;	
		}
	
	.depoiments-info{
		width: 100%;
		text-align: left;
		position: relative;
		bottom: 0;
		left: 0;
		}	
		
		.depoiments-head{
			margin-bottom: 22px;
			}
			
	.slick-dotted.slick-slider{
		margin-bottom: 60px!important;
		}	
	
	.slick-slide {
		margin: 0px 10px;
		box-shadow: none;
		}
	
	.slick-prev {
	    left: 16px!important;
	    
		}
	.slick-next {
	    right: 16px!important;
		}
	
	.slick-prev,
	.slick-next{
		box-shadow: 0 6px 7px 0 rgba(25,97,52,0.20)!important;
		} 
	}
	
	    	
/* load */

.load{display:none}
.load-mobile{display: table}

@media screen and (min-width: 100px) and (max-width: 576px) {
	.load-mobile{ display: none }
	}

/* Vagas */

section.vagas{
	
	}

.job-search{
	
	}
	
	.job-search label{
		display: none;
		}
		
	.job-search input{
		border: none;
		padding: 11px 16px;
		font: normal 14px/24px "ClanPro-Book", Helvetica;
		color: #253238;
		margin: 0;
		
		color: #3599FF;
		text-shadow: 0px 0px 0px #000;
		-webkit-text-fill-color: transparent;
		border: 1px solid transparent;
		position: relative;
		appearance: none;
		-webkit-appearance: none;
		}
		
		.job-search input::-webkit-input-placeholder { 
			font: normal 12px/24px "ClanPro-News", Helvetica;
			color: #75909C;
			
			text-shadow: none;
			-webkit-text-fill-color: initial;
			}
			
		.job-search input::-moz-placeholder { 
			font: normal 12px/24px "ClanPro-News", Helvetica;
			color: #75909C;
			
			text-shadow: none;
			-webkit-text-fill-color: initial;
			}
			
		.job-search input:-ms-input-placeholder {
			font: normal 12px/24px "ClanPro-News", Helvetica;
			color: #75909C;
			
			text-shadow: none;
			-webkit-text-fill-color: initial;
			}
			
		.job-search input:-moz-placeholder { 
			font: normal 12px/24px "ClanPro-News", Helvetica;
			color: #75909C;
			
			text-shadow: none;
			-webkit-text-fill-color: initial;
			}
		
		.job-search button{
			height: 48px;
			width: 48px;
			border: none;
			margin: 0;
			padding: 0;
			background: #2ADD72 url('../images/icon-search.svg') no-repeat center center;
			cursor: pointer;
			transition: all .15s ease-in-out;
			}
			
			.job-search button:hover{
				background-color: #00AD46;
				}
	
	.job-search input#curso{
		width: calc(64% - 24px);
		border-radius: 0px;
		border-bottom-left-radius: 2px;
		border-top-left-radius: 2px;
		}
	
	.job-search input#cidade{
		width: calc(36% - 25px);
		border-left: 1px solid #EAEFF2;
		border-radius: 0px;
		}
			
	.job-search input,
	.job-search button{
		float: left;
		}
		
		.job-search button{
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
			}
		
	.job-search input:focus,
	.job-search input:focus#cidade{
		outline: none;
		border: 1px solid #3599FF;
		z-index: 1;
		}

.wall-vagas,
.wall-vagas ul{
	display: table;
	position: relative;
	}

.wall-vagas li:nth-child(n+4) {
	margin-top: 32px;
	}			

@media screen and (min-width: 100px) and (max-width: 576px) {
	section.vagas{
		padding: 60px 0;
		}
	
	.job-search{
		margin-top: 60px;
		}
	
	.job-search input{
		padding: 13px 16px;
		font: normal 15px/24px "ClanPro-Book", Helvetica;
		}
	
	.job-search input::-webkit-input-placeholder { 
		font: normal 13px/24px "ClanPro-News", Helvetica;
		}
		
	.job-search input::-moz-placeholder { 
		font: normal 13px/24px "ClanPro-News", Helvetica;
		}
		
	.job-search input:-ms-input-placeholder {
		font: normal 13px/24px "ClanPro-News", Helvetica;
		}
		
	.job-search input:-moz-placeholder { 
		font: normal 13px/24px "ClanPro-News", Helvetica;
		}
	.job-search button{
		height: 52px;
		width: ;
		}
	
	.wall-vagas{
		margin-top: 28px;
		}
	
	.wall-vagas li{
		margin: 8px 0!important ;
		padding: 0;
		}
	}
	
@media screen and (min-width: 577px) and (max-width: 768px) {
	.wall-vagas li{
		padding: 0 7px;
		}
	
	.wall-vagas li:first-child,
	.wall-vagas li:nth-child(4){
		padding-left: 0px;
		}
		
	.wall-vagas li:nth-child(3),
	.wall-vagas li:nth-child(6){
		padding-right: 0px;
		}
	
	.wall-vagas li:nth-child(2),
	.wall-vagas li:nth-child(5){
		}
	
	.wall-vagas li:nth-child(n+4) {
		margin-top: 14px;
		}	
	}

/* Form */

.form-group{
	margin-bottom: 16px;
	position: relative;
	width: 100%;
	}

	.form-group input{
		width: 100%;
		}
		
	.form-group label{
		font: normal 12px/24px "ClanPro-News";
	    letter-spacing: .2px;
	    color: #253238;
	    display: block;
		}
		
		.form-group label.required{
			position: relative;
			}
			
		.form-group label.required::after{
			content: '*';
			position: absolute;
			top: 19px;
			padding-left: 4px;
			font-size: 24px;
			line-height: 0px;
			color: #D0021B;
			display: inline-block;
			}
					
.input-field{
	border: 1px solid #EAEFF2;
	border-radius: 2px;
	font: normal 14px/24px "ClanPro-Book";
	color: #253238;
	padding: 14px 16px 8px ;
	position: relative;
	caret-color: #3599FF;
	}
	
	.input-field:focus{
		border: 1px solid #3599FF;
		outline: none;
		}
		
		.input-field::-webkit-input-placeholder {
			font: normal 14px/24px "ClanPro-Book", Helvetica;
			color: #75909C;
			
			text-shadow: none;
			-webkit-text-fill-color: initial;
			}
			
		.input-field::-moz-placeholder { 
			font: normal 14px/24px "ClanPro-Book", Helvetica;
			color: #75909C;
			
			text-shadow: none;
			-webkit-text-fill-color: initial;
			}
			
		.input-field:-ms-input-placeholder {
			font: normal 14px/24px "ClanPro-Book", Helvetica;
			color: #75909C;
			
			text-shadow: none;
			-webkit-text-fill-color: initial;
			}
			
		.input-field:-moz-placeholder { 
			font: normal 14px/24px "ClanPro-Book", Helvetica;
			color: #75909C;
			
			text-shadow: none;
			-webkit-text-fill-color: initial;
			}		
	
/* Modal Login */

.cd-user-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(37, 50, 56, 0.3);
	z-index: 3;
	overflow-y: auto;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0.3s;
	-moz-transition: opacity 0.3s, visibility 0.3s;
	transition: opacity 0.3s, visibility 0.3s;
	}
	
	.cd-user-modal .container,
	.cd-user-modal .container .col-10{
		pointer-events: none;
		}
		
		.cd-user-modal .container .col-10 > *{
			pointer-events: visible;
			}
	
.cd-user-modal.is-visible {
	visibility: visible;
	opacity: 1;
	}
	
.cd-user-modal.is-visible .cd-user-modal-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	}

.cd-form-head{
	border-bottom: 1px solid rgba(206, 217, 218, .3);
	padding: 30px 24px 18px;
	}

.cd-user-modal-container {
	position: relative;
	float: right;
	width: 90%;
	max-width: 360px;
	background: #FFF;
	margin: 6em auto;
	padding-bottom: 24px;
	
	cursor: auto;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	
	box-shadow: 0 12px 14px 0 rgba(37,50,56,0.10);
	border-radius: 3px;
	}

.cd-form {
	padding: 38px 24px;
	}
	
.cd-form input[type=password] {
	/* space left for the HIDE button */
	padding-right: 65px;
	}

.cd-form .hide-password {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 52px;
	padding: 0px 16px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	
	font: normal 12px/16px 'ClanPro-News';
	color: #253238;
	}

.cd-form .cd-error-message {
	font: normal 10px/1.5em "ClanPro-NewsItalic";
	display: inline-block;
	z-index: 2;
	color: #D0021B;
	pointer-events: none;
	display: none;
	}

.cd-form .forgot-password{
	font: normal 12px/16px "ClanPro-News";
	color: #253238;
	text-align: center;
	display: block;
	padding-bottom: 8px;
	}		